.option2{
    background-color: orange;
    box-shadow: 0px 4px 0px 0px rgb(201, 131, 1);
    border-radius: 0px;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    width: 135px;
    height: 45px;
    color: rgb(255, 255, 255);
    float: right;
    margin-right: 50px;
}

.option2:hover {
    background-color: rgb(233, 152, 2);
    box-shadow: 0px 4px 0px 0px rgb(201, 131, 1);
}
