.logo {
    background-color: rgb(255, 115, 0);
    color: white;
    height: 100px;
    width: 300px;
    image-resolution: 500px 500px;
    margin-bottom: 5vh;
    margin-left: 36vw;
    display: flex;
    justify-content: center;
    align-items: center;
}