.quadrado2{
    background-color: rgb(226, 226, 226);
    height: 70vh;
    width: 100vw;
    border-radius: 0px;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}