.rota {
    background-color: white;
    box-shadow: 0px 0px 0px 4px rgb(255, 115, 0);
    border-radius: 2px;
    margin-top: 5vh;
    margin-left: 1vw;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(255, 115, 0);
    float: right;
}

.rota .img{
    opacity: 0.2;
    margin-left: auto;
}

.rota:hover{
    background-color: rgb(236, 236, 236);
    border-color: rgb(255, 115, 0);
}

.rota:hover .img{
    transition-duration: 0.4s;
    opacity: 0.75;
}

.rota:focus{
    outline: 4px auto -webkit-focus-ring-color;
    outline-color: rgb(255, 115, 0);
}


